/* 
 * color pallette
 * blue #293553
 * red #C34244
 * tan #F1DEC2
 * fonts 
  */

@media{
    img { 
    width:100%;
    border-radius:50%;
    
}

    h1 {
    margin:30px 30px 0px 0px;
    font size:40px;
    font-family:"Lato", sans-serif;
    font-weight:700;
    font-style:italic;
    color:#F1DEC2;
    }

    h2 {
    margin:10px 20px 0px 0px;
    font-family:"Catamaran", sans-serif;
    font-optical-sizing:auto;
    font-weight:400;
    font-style:normal;
    color:#C34244
    }

    #topper{
        background-color: #293553
    }
   
    button{
    font-family:"Lato", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:15px;
    width:150px;
    padding:6px;
    margin:0px;
    border-radius:8px;
    background-color:#F1DEC2;
    color:#293553;
    }
    #navigation{
        background-color:#C34244;
        color:#293553;
        text-align:center;
        
    } 
    #navigation a{
         color:#293553;
        text-decoration:none;
    }
    #navigation a:hover{
        text-decoration:underline;
    }
    #section{
        background-color:#F1DEC2;
    }
}
@media (min-width:576px) {
    
    h1{
        margin:30px 30px 0px 20px;
        font-size: 60px;
    }
    h2{
        margin:10px 20px 0px 20px;
    }
    button{
         margin:20px;
    }
}