/* 
 * color pallette
 * blue #293553
 * red #C34244
 * tan #F1DEC2
 * fonts 
  */

@media{
    img { 
    width:100%;
    border-radius:50%;
    
}

    h1 {
    margin:30px 30px 0px 0px;
    font size:40px;
    font-family:"Lato", sans-serif;
    font-weight:700;
    font-style:italic;
    color:#F1DEC2;
  
   
}

    h2 {
    margin:10px 20px 0px 20px;
    font-family:"Catamaran", sans-serif;
    font-optical-sizing:auto;
    font-weight:400;
    font-style:normal;
    color:#C34244
  
}

    #topper{
        background-color: #293553
    }
   
    button{
    font-family:"Lato", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    width:200px;
    padding:8px;
    margin:20px;
    border-radius:8px;
    background-color:#F1DEC2;
    color:#293553;

    }
}
@media (min-width:576px) {
    
    h1{
        margin:30px 30px 0px 20px;
        font-size: 60px;
    }
    
}